In [181]:
import pickle
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [182]:
#read data and remove redundent columns
data=pd.read_csv("data/credit_card_churn.csv")

In [183]:
data.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [184]:
#data.to_csv("data/credit_card_churn.csv")

In [185]:
data.columns

Index(['Unnamed: 0', 'CLIENTNUM', 'Attrition_Flag', 'Customer_Age', 'Gender',
       'Dependent_count', 'Education_Level', 'Marital_Status',
       'Income_Category', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio'],
      dtype='object')

In [186]:
#initilize the encoder
le_Gender = LabelEncoder()
le_Education_Level = LabelEncoder()
le_Marital_Status = LabelEncoder()
le_Income_Category = LabelEncoder()
le_Card_Category = LabelEncoder()

In [187]:
#fit encoder
data['Gender_n'] = le_Gender.fit_transform(data['Gender'])
data['Education_Level_n'] = le_Education_Level.fit_transform(data['Education_Level'])
data['Marital_Status_n'] = le_Marital_Status.fit_transform(data['Marital_Status'])
data['Income_Category_n'] = le_Income_Category.fit_transform(data['Income_Category'])
data['Card_Category_n'] = le_Card_Category.fit_transform(data['Card_Category'])

In [189]:
# #save encoder for infrence
# output1 = open('model/le_Gender.pkl', 'wb')
# pickle.dump(le_Gender, output1)
# output1.close()

# output2 = open('model/le_Education_Level.pkl', 'wb')
# pickle.dump(le_Education_Level, output2)
# output2.close()

# output3 = open('model/le_Marital_Status.pkl', 'wb')
# pickle.dump(le_Marital_Status, output3)
# output2.close()

# output4 = open('model/le_Income_Category.pkl', 'wb')
# pickle.dump(le_Income_Category, output4)
# output4.close()

# output5 = open('model/le_Card_Category.pkl', 'wb')
# pickle.dump(le_Card_Category, output5)
# output5.close()

In [190]:
data.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Gender_n,Education_Level_n,Marital_Status_n,Income_Category_n,Card_Category_n
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,1.335,1144,42,1.625,0.061,1,3,1,2,0
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,1.541,1291,33,3.714,0.105,0,2,2,4,0
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,2.594,1887,20,2.333,0.000,1,2,1,3,0
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,1.405,1171,20,2.333,0.760,0,3,3,4,0
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,2.175,816,28,2.500,0.000,1,5,1,2,0

In [191]:
data_n = data.drop(['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category'], axis = 1)
data_n = data_n.drop('CLIENTNUM', axis = 1)
train = data_n.drop('Attrition_Flag',  axis = 1)
target = data_n['Attrition_Flag']
x_train, x_test, y_train, y_test = train_test_split(train, target, test_size = 0.19, random_state = 20)

In [192]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
prediction = logreg.predict(x_test)
accuracy_score(y_test, prediction)

/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.9438961038961039

In [193]:
with open('models/lin_reg.bin', 'wb') as f_out:
    pickle.dump(logreg, f_out)

In [194]:
clf = DecisionTreeClassifier(random_state = 20)
clf.fit(x_train, y_train)
DecisionTreeClassifier(random_state=20)
prediction_clf = clf.predict(x_test)
accuracy_score(y_test, prediction_clf)

0.974025974025974

In [195]:
with open('models/dtc.bin', 'wb') as f_out:
    pickle.dump(clf, f_out)

In [201]:
val=[]
import argparse
import os
import pickle

import mlflow
import numpy as np
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
from hyperopt.pyll import scope
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier


mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("random-forest-hyperopt")


def load_pickle(filename):
    with open(filename, "rb") as f_in:
        return pickle.load(f_in)


def run(data_path, num_trials):

    X_train, y_train = load_pickle(os.path.join(data_path, "train.pkl"))
    X_valid, y_valid = load_pickle(os.path.join(data_path, "valid.pkl"))
    
    print(len(X_train),len(y_train))
    print(len(X_valid),len(y_valid))
    

    def objective(params):
        with mlflow.start_run():
            mlflow.log_params(params)
            clf = RandomForestClassifier(**params)
            clf.fit(X_train, y_train)
            y_pred = clf.predict(X_valid)
            print(X_valid)
            val=X_valid
            accuracy= accuracy_score(y_valid, y_pred)
            mlflow.log_metric("accuracy_score", accuracy)
            return {'loss': - accuracy, 'status': STATUS_OK}

            

    search_space = {
        'max_depth': scope.int(hp.quniform('max_depth', 1, 20, 1)),
        'n_estimators': scope.int(hp.quniform('n_estimators', 10, 50, 1)),
        'min_samples_split': scope.int(hp.quniform('min_samples_split', 2, 10, 1)),
        'min_samples_leaf': scope.int(hp.quniform('min_samples_leaf', 1, 4, 1)),
        'random_state': 42
    }

    rstate = np.random.default_rng(42)  # for reproducible results
    fmin(
        fn=objective,
        space=search_space,
        algo=tpe.suggest,
        max_evals=num_trials,
        trials=Trials(),
        rstate=rstate
    )

In [202]:
run("output",10)

7595 7595
1519 1519
      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]
      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]

      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]
      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]

      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]
      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]

      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]
      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]

      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]
      Unnamed: 0  Customer_Age  Dependent_count  Months_on_book  \
692          692            50                4              36
5173        5173            50                1              36
4072        4072            27                0              17
9890        9890            48                3              37
6860        6860            49                4              39
...          ...           ...              ...             ...
9267        9267            49                1              44
4913        4913            53                4              34
1820        1820            47                3              36
3627        3627            43                4              29
8921        8921            52                2              41

      Total_Relationship_Count  Months_Inactive_12_mon  Contacts_Count_12_mon  \
692                          6                       1                      2
5173                         6                       3                      2
4072                         4                       2                      2
9890                         4                       1                      2
6860                         4                       4                      1
...                        ...                     ...                    ...
9267                         2                       1                      1
4913                         6                       2                      2
1820                         3                       6                      2
3627                         3                       3                      3
8921                         2                       5                      1

      Credit_Limit  Total_Revolving_Bal  Avg_Open_To_Buy  \
692        32156.0                 1791          30365.0
5173       10588.0                  994           9594.0
4072        2042.0                 1567            475.0
9890        6725.0                  493           6232.0
6860        2333.0                 1414            919.0
...            ...                  ...              ...
9267        8284.0                  797           7487.0
4913        6721.0                 1115           5606.0
1820        5154.0                 1407           3747.0
3627        2778.0                 1640           1138.0
8921       33256.0                  928          32328.0

      Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
692                  0.906             1559              39
5173                 0.786             4623              84
4072                 0.744             5146              78
9890                 0.720            13891             106
6860                 0.632             5137              89
...                    ...              ...             ...
9267                 0.824            13092             102
4913                 0.790             3718              51
1820                 0.666             1694              32
3627                 0.820             4007              75
8921                 0.694             7796              97

      Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  Gender_n  Education_Level_n  \
692                 1.167                  0.056         0                  6
5173                0.585                  0.094         1                  3
4072                0.733                  0.767         0                  2
9890                0.606                  0.073         0                  4
6860                0.679                  0.606         0                  1
...                   ...                    ...       ...                ...
9267                0.569                  0.096         0                  2
4913                0.759                  0.166         0                  6
1820                0.778                  0.273         1                  6
3627                0.705                  0.590         0                  2
8921                0.590                  0.028         1                  2

      Marital_Status_n  Income_Category_n  Card_Category_n
692                  1                  5                3
5173                 1                  3                0
4072                 1                  4                0
9890                 1                  1                0
6860                 1                  5                0
...                ...                ...              ...
9267                 1                  4                0
4913                 2                  4                0
1820                 2                  1                0
3627                 1                  4                0
8921                 1                  3                0

[1519 rows x 20 columns]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:04<00:00,  2.32trial/s, best loss: -0.9874917709019092]

In [39]:
import argparse
import os
import pickle

import mlflow
from hyperopt import hp, space_eval
from hyperopt.pyll import scope
from mlflow.entities import ViewType
from mlflow.tracking import MlflowClient
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error



HPO_EXPERIMENT_NAME = "random-forest-hyperopt"
EXPERIMENT_NAME = "random-forest-best-models"

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment(EXPERIMENT_NAME)
mlflow.sklearn.autolog()

SPACE = {
    'max_depth': scope.int(hp.quniform('max_depth', 1, 20, 1)),
    'n_estimators': scope.int(hp.quniform('n_estimators', 10, 50, 1)),
    'min_samples_split': scope.int(hp.quniform('min_samples_split', 2, 10, 1)),
    'min_samples_leaf': scope.int(hp.quniform('min_samples_leaf', 1, 4, 1)),
    'random_state': 42
}


def load_pickle(filename):
    with open(filename, "rb") as f_in:
        return pickle.load(f_in)


def train_and_log_model(data_path, params):
    X_train, y_train = load_pickle(os.path.join(data_path, "train.pkl"))
    X_valid, y_valid = load_pickle(os.path.join(data_path, "valid.pkl"))
    X_test, y_test = load_pickle(os.path.join(data_path, "test.pkl"))

    with mlflow.start_run():
        params = space_eval(SPACE, params)        
        rf = RandomForestClassifier(**params)
        rf.fit(X_train, y_train)

        # evaluate model on the validation and test sets
        valid_accuracy = accuracy_score(y_valid, rf.predict(X_valid))
        mlflow.log_metric("valid_accuracy", valid_accuracy)
        test_accuracy = accuracy_score(y_test, rf.predict(X_test))
        mlflow.log_metric("test_accuracy", test_accuracy)


def run(data_path, log_top):

    client = MlflowClient()

    # retrieve the top_n model runs and log the models to MLflow
    experiment = client.get_experiment_by_name(HPO_EXPERIMENT_NAME)
    runs = client.search_runs(
        experiment_ids=experiment.experiment_id,
        run_view_type=ViewType.ACTIVE_ONLY,
        max_results=log_top,
        order_by=["metrics.test_accuracy DESC"]
    )
    for run in runs:
        #print(f"run id: {run.info.run_id}, rmse: {run.data.metrics['rmse']:.4f}")
        train_and_log_model(data_path=data_path, params=run.data.params)

    # select the model with the highest test accuracy
    experiment = client.get_experiment_by_name(EXPERIMENT_NAME)
    # best_run = client.search_runs( ...  )[0]
    best_runs = client.search_runs(
                experiment_ids=experiment.experiment_id,
                #filter_string="metrics.rmse < 7",
                run_view_type=ViewType.ACTIVE_ONLY,
                max_results=log_top,
                order_by=["metrics.test_accuracy DESC"]
            )

    # register the best model
    #print(best_run)
    
    for best_run in best_runs:
        print(f"run id: {best_run.info.run_id}, test_accuracy: {best_run.data.metrics['test_accuracy']:.4f}")
        train_and_log_model(data_path=data_path, params=best_run.data.params)

    model_uri = f"runs:/{best_runs[0].info.run_id}/model"
    
    # mlflow.register_model( ... )
    mlflow.register_model(model_uri=model_uri, name="random-forest-best-models")

2022/08/11 05:41:30 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of sklearn. If you encounter errors during autologging, try upgrading / downgrading sklearn to a supported version, or try upgrading MLflow.

In [40]:
run("output",2)

2022/08/11 05:41:33 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
2022/08/11 05:41:37 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."

run id: 75833ffc0b2d41e0bfe760e98562636a, test_accuracy: 0.9872

2022/08/11 05:41:40 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."

run id: a37c0cb463784c0db1f8f6bf8d7af31c, test_accuracy: 0.9862

2022/08/11 05:41:44 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/models/signature.py:129: UserWarning: Hint: Inferred schema contains integer column(s). Integer columns in Python cannot represent missing values. If your input data contains missing values at inference time, it will be encoded as floats and will cause a schema enforcement error. The best way to avoid this problem is to infer the model schema based on a realistic data sample (training dataset) that includes missing values. Alternatively, you can declare integer columns as doubles (float64) whenever these columns may have missing values. See `Handling Integers With Missing Values <https://www.mlflow.org/docs/latest/models.html#handling-integers-with-missing-values>`_ for more details."
Successfully registered model 'random-forest-best-models'.
2022/08/11 05:41:47 INFO mlflow.tracking._model_registry.client: Waiting up to 300 seconds for model version to finish creation.                     Model name: random-forest-best-models, version 1
Created version '1' of model 'random-forest-best-models'.

In [34]:
#test remote mlfow uri

In [42]:
mlflow.list_experiments()

[<Experiment: artifact_location='s3://jai-mlops-zoomcamp-tfstate/0', experiment_id='0', lifecycle_stage='active', name='Default', tags={}>,
 <Experiment: artifact_location='s3://jai-mlops-zoomcamp-tfstate/1', experiment_id='1', lifecycle_stage='active', name='random-forest-best-models', tags={}>,
 <Experiment: artifact_location='s3://jai-mlops-zoomcamp-tfstate/2', experiment_id='2', lifecycle_stage='active', name='random-forest-hyperopt', tags={}>]

In [55]:
import argparse
import os
import pickle
import datetime

import mlflow
import numpy as np
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe, space_eval
from hyperopt.pyll import scope
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

from mlflow.entities import ViewType
from mlflow.tracking import MlflowClient

from prefect import flow, task,get_run_logger
from prefect.task_runners import SequentialTaskRunner
import prefect


HPO_EXPERIMENT_NAME = "random-forest-hyperopt"
EXPERIMENT_NAME = "random-forest-best-models"

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment(EXPERIMENT_NAME)
mlflow.sklearn.autolog()


SPACE = {
    'max_depth': scope.int(hp.quniform('max_depth', 1, 20, 1)),
    'n_estimators': scope.int(hp.quniform('n_estimators', 10, 50, 1)),
    'min_samples_split': scope.int(hp.quniform('min_samples_split', 2, 10, 1)),
    'min_samples_leaf': scope.int(hp.quniform('min_samples_leaf', 1, 4, 1)),
    'random_state': 42
}

@task
def load_pickle(filename):
    with open(filename, "rb") as f_in:
        return pickle.load(f_in)



@task
def train_and_log_model(data_path, params):
    X_train, y_train = load_pickle(os.path.join(data_path, "train.pkl"))
    X_valid, y_valid = load_pickle(os.path.join(data_path, "valid.pkl"))
    X_test, y_test = load_pickle(os.path.join(data_path, "test.pkl"))

    with mlflow.start_run():
        params = space_eval(SPACE, params)        
        rf = RandomForestClassifier(**params)
        rf.fit(X_train, y_train)

        # evaluate model on the validation and test sets
        valid_accuracy = accuracy_score(y_valid, rf.predict(X_valid))
        mlflow.log_metric("valid_accuracy", valid_accuracy)
        test_accuracy = accuracy_score(y_test, rf.predict(X_test))
        mlflow.log_metric("test_accuracy", test_accuracy)
    

@task
def get_paths():
    data_dir="./output"
    return data_dir

@task 
def get_log_top():
    return 5


@flow(task_runner=SequentialTaskRunner())
def run():
    data_path   = get_paths()
    log_top     = get_log_top()

    

    client = MlflowClient()

    # retrieve the top_n model runs and log the models to MLflow
    experiment = client.get_experiment_by_name(HPO_EXPERIMENT_NAME)
    
    runs = client.search_runs(
        experiment_ids=experiment.experiment_id,
        run_view_type=ViewType.ACTIVE_ONLY,
        max_results=log_top,
        order_by=["metrics.test_accuracy DESC"]
    )
    print("run")
    for run in runs:
        #print(f"run id: {run.info.run_id}, rmse: {run.data.metrics['rmse']:.4f}")
        train_and_log_model(data_path=data_path, params=run.data.params)

    # select the model with the highest test accuracy
    experiment = client.get_experiment_by_name(EXPERIMENT_NAME)
    # best_run = client.search_runs( ...  )[0]
    best_runs = client.search_runs(
                experiment_ids=experiment.experiment_id,
                #filter_string="metrics.rmse < 7",
                run_view_type=ViewType.ACTIVE_ONLY,
                max_results=log_top,
                order_by=["metrics.test_accuracy DESC"]
            )

    # register the best model
    #print(best_run)
    
    for best_run in best_runs:
        print(f"run id: {best_run.info.run_id}, test_accuracy: {best_run.data.metrics['test_accuracy']:.4f}")
        train_and_log_model(data_path=data_path, params=best_run.data.params)

    model_uri = f"runs:/{best_runs[0].info.run_id}/model"
    
    # mlflow.register_model( ... )
    mlflow.register_model(model_uri=model_uri, name="random-forest-best-models")


from prefect.deployments import DeploymentSpec
from prefect.orion.schemas.schedules import CronSchedule
from prefect.flow_runners import SubprocessFlowRunner
from datetime import timedelta
#from prefect.deployments import Deployment


# Deployment(
#     flow=run,
#     name="model_training-dev",
#     schedule=IntervalSchedule(interval=timedelta(minutes=5)),
#     flow_runner=SubprocessFlowRunner(),
#     tags=["dev"]
# )

# Deployment(
#     flow=run,
#     name="model_training-prod",
#     schedule=IntervalSchedule(interval=timedelta(minutes=5)),
#     flow_runner=SubprocessFlowRunner(),
#     tags=["prod"]
# )

2022/08/11 08:50:50 WARNING mlflow.utils.autologging_utils: You are using an unsupported version of sklearn. If you encounter errors during autologging, try upgrading / downgrading sklearn to a supported version, or try upgrading MLflow.

In [56]:
run()

08:50:51.010 | INFO    | prefect.engine - Created flow run 'enigmatic-guillemot' for flow 'run'
08:50:51.011 | INFO    | Flow run 'enigmatic-guillemot' - Using task runner 'SequentialTaskRunner'
08:50:51.022 | WARNING | Flow run 'enigmatic-guillemot' - No default storage is configured on the server. Results from this flow run will be stored in a temporary directory in its runtime environment.
08:50:51.083 | INFO    | Flow run 'enigmatic-guillemot' - Created task run 'get_paths-6e696e34-0' for task 'get_paths'
08:50:51.143 | INFO    | Task run 'get_paths-6e696e34-0' - Finished in state Completed()
08:50:51.173 | INFO    | Flow run 'enigmatic-guillemot' - Created task run 'get_log_top-94e2f490-0' for task 'get_log_top'
08:50:51.232 | INFO    | Task run 'get_log_top-94e2f490-0' - Finished in state Completed()
08:50:51.250 | ERROR   | Flow run 'enigmatic-guillemot' - Encountered exception during execution:
Traceback (most recent call last):
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/prefect/engine.py", line 468, in orchestrate_flow_run
    result = await run_sync_in_worker_thread(flow_call)
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/prefect/utilities/asyncio.py", line 54, in run_sync_in_worker_thread
    return await anyio.to_thread.run_sync(call, cancellable=True)
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/anyio/to_thread.py", line 31, in run_sync
    return await get_asynclib().run_sync_in_worker_thread(
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/anyio/_backends/_asyncio.py", line 937, in run_sync_in_worker_thread
    return await future
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/anyio/_backends/_asyncio.py", line 867, in run
    result = context.run(func, *args)
  File "/tmp/ipykernel_6630/172680164.py", line 84, in run
    runs = client.search_runs(
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/tracking/client.py", line 1618, in search_runs
    return self._tracking_client.search_runs(
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/tracking/_tracking_service/client.py", line 457, in search_runs
    return self.store.search_runs(
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/store/tracking/abstract_store.py", line 242, in search_runs
    runs, token = self._search_runs(
  File "/home/ubuntu/.local/share/virtualenvs/MlopsZoomcampCourceProject-7fyG67o3/lib/python3.10/site-packages/mlflow/store/tracking/rest_store.py", line 257, in _search_runs
    sr = SearchRuns(
TypeError: 'PrefectFuture' object cannot be interpreted as an integer
08:50:51.277 | ERROR   | Flow run 'enigmatic-guillemot' - Finished in state Failed('Flow run encountered an exception.')

Failed(message='Flow run encountered an exception.', type=FAILED, result=TypeError("'PrefectFuture' object cannot be interpreted as an integer"), flow_run_id=05ca3c8c-cc42-4de8-8cb8-558b546706e7)

In [57]:

from numpy import loadtxt
from xgboost import XGBClassifier

In [96]:
from this import d
import pandas as pd
import pickle

from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

import xgboost as xgb

from hyperopt import fmin, tpe, hp, STATUS_OK, Trials
from hyperopt.pyll import scope

import mlflow

from prefect import flow, task
from prefect.task_runners import SequentialTaskRunner

@task
def read_dataframe(filename):
    df = pd.read_csv(filename)
    return df

def dump_pickle(obj, filename):
    with open(filename, "wb") as f_out:
        return pickle.dump(obj, f_out)

@task
def preprocess(data: pd.DataFrame,\
               le_Gender: LabelEncoder,\
               le_Education_Level:LabelEncoder,\
               le_Marital_Status:LabelEncoder,\
               le_Income_Category:LabelEncoder,\
               le_Card_Category:LabelEncoder
              ):
    
    #fit encoder
    data['Gender_n'] = le_Gender.fit_transform(data['Gender'])
    data['Education_Level_n'] = le_Education_Level.fit_transform(data['Education_Level'])
    data['Marital_Status_n'] = le_Marital_Status.fit_transform(data['Marital_Status'])
    data['Income_Category_n'] = le_Income_Category.fit_transform(data['Income_Category'])
    data['Card_Category_n'] = le_Card_Category.fit_transform(data['Card_Category'])

    data_n = data.drop(['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category'], axis = 1)
    data_n = data_n.drop('CLIENTNUM', axis = 1)
    train = data_n.drop('Attrition_Flag',  axis = 1)
    target = data_n['Attrition_Flag']
    
    
    train_ratio = 0.75
    validation_ratio = 0.15
    test_ratio = 0.10

    # train is now 75% of the entire data set
    # the _junk suffix means that we drop that variable completely
    x_train, x_test, y_train, y_test = train_test_split(train, target, test_size=1 - train_ratio)

    # test is now 10% of the initial data set
    # validation is now 15% of the initial data set
    x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio)) 

    return x_train, x_test, y_train, y_test, x_val, y_val, le_Gender, le_Education_Level, le_Marital_Status, le_Income_Category, le_Card_Category 



@task
def train_model_search(x_train, y_train, x_val, y_val, SPACE):
    def objective(params):
        with mlflow.start_run():
            mlflow.set_tag("model", "randomforest")
            mlflow.log_params(params)
            params = space_eval(SPACE, params)        
            rf = RandomForestClassifier(**params)
            rf.fit(x_train, y_train)
            
            y_pred = rf.predict(x_val)
            
            accuracy = accuracy_score(y_val, y_pred)
            mlflow.log_metric("accuracy", accuracy)

        return {'loss': - accuracy, 'status': STATUS_OK}


    best_result = fmin(
        fn=objective,
        space=SPACE,
        algo=tpe.suggest,
        max_evals=1,
        trials=Trials()
    )
    return

@task
def train_best_model(x_train, y_train, x_val, y_val,x_test, y_test,\
                    le_Gender, le_Education_Level, le_Marital_Status, le_Income_Category, le_Card_Category):
    with mlflow.start_run():

        
        best_params = {
                'max_depth': 14,
                'n_estimators': 23,
                'min_samples_split': 6,
                'min_samples_leaf': 2,
                'random_state': 42}

        mlflow.log_params(best_params)
        
    
        rf = RandomForestClassifier(**best_params)
        rf.fit(x_train, y_train)
        y_pred = rf.predict(x_val)
        accuracy = accuracy_score(y_val, y_pred)
        mlflow.log_metric("accuracy", accuracy)
        
        dest_path="./models"
        #os.makedirs(dest_path, exist_ok=True)
        
        dump_pickle(le_Gender, os.path.join(dest_path, "le_Gender.pkl"))
        dump_pickle(le_Education_Level, os.path.join(dest_path, "le_Education_Level.pkl"))
        dump_pickle(le_Marital_Status, os.path.join(dest_path, "le_Marital_Status.pkl"))
        dump_pickle(le_Income_Category, os.path.join(dest_path, "le_Income_Category.pkl"))
        dump_pickle(le_Card_Category, os.path.join(dest_path, "le_Card_Category.pkl"))
        dump_pickle((x_train, y_train), os.path.join(dest_path, "train.pkl"))
        dump_pickle((x_val, y_val), os.path.join(dest_path, "valid.pkl"))
        dump_pickle((x_test, y_test), os.path.join(dest_path, "test.pkl"))
   
        
    
            
        mlflow.log_artifact("./models/le_Gender.pkl", artifact_path="preprocessor")
        
        mlflow.sklearn.log_model(rf, artifact_path="models_mlflow")

@flow(task_runner=SequentialTaskRunner())
def main(data_path: str="./data/credit_card_churn.csv"):
    mlflow.set_tracking_uri("http://127.0.0.1:5000")
    mlflow.set_experiment("random-forest-best-models")


    #initilize the encoder
    le_Gender = LabelEncoder()
    le_Education_Level = LabelEncoder()
    le_Marital_Status = LabelEncoder()
    le_Income_Category = LabelEncoder()
    le_Card_Category = LabelEncoder()
    
    # load csv files
    data = read_dataframe(data_path)
    #print(data.head())
    
    x_train, x_test, y_train, y_test, x_val, y_val,\
         le_Gender,le_Education_Level,\
         le_Marital_Status, le_Income_Category,\
        le_Card_Category = preprocess(data,\
                                        le_Gender,\
                                        le_Education_Level,\
                                        le_Marital_Status,\
                                        le_Income_Category,\
                                        le_Card_Category ).result()


    #print(len(train))

    
    #print(len(train))
    
    SPACE = {
    'max_depth': scope.int(hp.quniform('max_depth', 1, 20, 1)),
    'n_estimators': scope.int(hp.quniform('n_estimators', 10, 50, 1)),
    'min_samples_split': scope.int(hp.quniform('min_samples_split', 2, 10, 1)),
    'min_samples_leaf': scope.int(hp.quniform('min_samples_leaf', 1, 4, 1)),
    'random_state': 42}

    train_model_search(x_train, y_train, x_val, y_val, SPACE)
    
    train_best_model(x_train, y_train, x_val, y_val,x_test, y_test,\
                     le_Gender, le_Education_Level, le_Marital_Status, le_Income_Category, le_Card_Category)

from prefect.deployments import DeploymentSpec

from prefect.orion.schemas.schedules import IntervalSchedule
from prefect.flow_runners import SubprocessFlowRunner
from datetime import timedelta

DeploymentSpec(
    flow=main,
    name="model_training",
    schedule=IntervalSchedule(interval=timedelta(minutes=1)),
    flow_runner=SubprocessFlowRunner(),
    tags=["ml"]
)

DeploymentSpec(name='model_training', flow=<prefect.flows.Flow object at 0x7fb462162da0>, flow_name=None, flow_location=None, flow_storage=None, parameters=None, schedule=IntervalSchedule(interval=datetime.timedelta(seconds=60), timezone=None, anchor_date=DateTime(2020, 1, 1, 0, 0, 0, tzinfo=Timezone('UTC'))), tags=['ml'], flow_runner=SubprocessFlowRunner(typename='subprocess', env={}, stream_output=True, condaenv=None, virtualenv=None))

In [296]:
import os
import json
import boto3
import base64
import mlflow

#RUN_ID = os.getenv('RUN_ID')

RUN_ID="d5bb00fc5a6345469baebb848ea950f7"
logged_model = f's3://jai-mlops-zoomcamp-tfstate/1/{RUN_ID}/artifacts/models_mlflow'



le_Gender_dataencoder = f's3://jai-mlops-zoomcamp-tfstate/1/{RUN_ID}/artifacts/encoder'
# le_Education_Level_dataencoder = f's3://jai-mlops-zoomcamp-tfstate/1/{RUN_ID}/artifacts/le_Education_Level_dataencoder.pkl'
# le_Income_Category_dataencoder = f's3://jai-mlops-zoomcamp-tfstate/1/{RUN_ID}/artifacts/le_Income_Category_dataencoder'
# le_Marital_Status_dataencoder = f's3://jai-mlops-zoomcamp-tfstate/1/{RUN_ID}/artifacts/le_Marital_Status_dataencoder'
# le_Card_Category_dataencoder = f's3://jai-mlops-zoomcamp-tfstate/1/{RUN_ID}/artifacts/le_Card_Category_dataencoder'

#le_Gender_dataencoder = mlflow.pyfunc.load_model(le_Gender_dataencoder)
#le_Gender_dataencoder = load(open('le_Gender_dataencoder', 'rb'))
# le_Education_Level_dataencoder = mlflow.pyfunc.load_model(le_Education_Level_dataencoder)
# le_Income_Category_dataencoder = mlflow.pyfunc.load_model(le_Income_Category_dataencoder)
# le_Marital_Status_dataencoder = mlflow.pyfunc.load_model(le_Marital_Status_dataencoder)
# le_Card_Category_dataencoder = mlflow.pyfunc.load_model(le_Card_Category_dataencoder)

# logged_model = f'runs:/{RUN_ID}/model'
model = mlflow.pyfunc.load_model(logged_model)

In [297]:
le_Gender_dataencoder

's3://jai-mlops-zoomcamp-tfstate/1/d5bb00fc5a6345469baebb848ea950f7/artifacts/encoder'

In [300]:
import cloudpickle
with open(os.path.join(le_Gender_dataencoder, 'le_Gender.pkl'), 'rb') as f:
    params = cloudpickle.load()

FileNotFoundError: [Errno 2] No such file or directory: 's3://jai-mlops-zoomcamp-tfstate/1/d5bb00fc5a6345469baebb848ea950f7/artifacts/encoder/le_Gender.pkl'

In [309]:
import pickle
import boto3
import boto3.session

cred = boto3.Session().get_credentials()
ACCESS_KEY = cred.access_key
SECRET_KEY = cred.secret_key
SESSION_TOKEN = cred.token  ## optional


def get_artifact_encoder(artifact_path):

    s3client = boto3.client('s3', 
                            aws_access_key_id = ACCESS_KEY, 
                            aws_secret_access_key = SECRET_KEY, 
                            aws_session_token = SESSION_TOKEN
                           )

    response = s3client.get_object(Bucket='jai-mlops-zoomcamp-tfstate', Key=artifact_path)

    body = response['Body'].read()
    data = pickle.loads(body)
    return data

In [310]:
get_artifact_encoder('1/d5bb00fc5a6345469baebb848ea950f7/artifacts/encoder/le_Gender.pkl')

LabelEncoder()

In [286]:
le_Gender_dataencoder = mlflow.pyfunc.load_model(le_Gender_dataencoder)
#le_Gender_dataencoder = load(open('le_Gender_dataencoder', 'rb'))

NotADirectoryError: [Errno 20] Not a directory: '/tmp/tmpl4jaxese/le_Gender.pkl/MLmodel'

In [210]:
model

mlflow.pyfunc.loaded_model:
  artifact_path: models_mlflow
  flavor: mlflow.sklearn
  run_id: b805539de7ca4dedb941d4b90f61bf1b

In [5]:
df =pd.read_csv("data/credit_card_churn.csv")

In [148]:
df.head()

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [149]:
df.iloc[0]

Unnamed: 0                                  0
CLIENTNUM                           768805383
Attrition_Flag              Existing Customer
Customer_Age                               45
Gender                                      M
Dependent_count                             3
Education_Level                   High School
Marital_Status                        Married
Income_Category                   $60K - $80K
Card_Category                            Blue
Months_on_book                             39
Total_Relationship_Count                    5
Months_Inactive_12_mon                      1
Contacts_Count_12_mon                       3
Credit_Limit                          12691.0
Total_Revolving_Bal                       777
Avg_Open_To_Buy                       11914.0
Total_Amt_Chng_Q4_Q1                    1.335
Total_Trans_Amt                          1144
Total_Trans_Ct                             42
Total_Ct_Chng_Q4_Q1                     1.625
Avg_Utilization_Ratio                   0.061
Name: 0, dtype: object

In [150]:
from pickle import load

In [151]:
le_Gender = load(open('models/le_Gender.pkl', 'rb'))

In [152]:
le_Gender

LabelEncoder()

In [231]:
def get_feature(data):
    le_Gender = load(open('models/le_Gender.pkl', 'rb'))
    le_Education_Level = load(open('models/le_Education_Level.pkl', 'rb'))
    le_Marital_Status = load(open('models/le_Marital_Status.pkl', 'rb'))
    le_Income_Category = load(open('models/le_Income_Category.pkl', 'rb'))
    le_Card_Category = load(open('models/le_Card_Category.pkl', 'rb'))
    
    data['Gender_n'] = le_Gender.transform([data['Gender']])[0]
    data['Education_Level_n'] = le_Education_Level.transform([data['Education_Level']])[0]
    data['Marital_Status_n'] = le_Marital_Status.transform([data['Marital_Status']])[0]
    data['Income_Category_n'] = le_Income_Category.transform([data['Income_Category']])[0]
    data['Card_Category_n'] = le_Card_Category.transform([data['Card_Category']])[0]
    
    dellist= ['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']
    for key in dellist :
        del data[key]
    
    return data

In [243]:
def predict(features):
    pred = model.predict(pd.DataFrame(features,index=[0]))
    return pred[0]

In [245]:
data= {
 'Customer_Age': 45,
 'Gender': 'M',
 'Dependent_count': 3,
 'Education_Level': 'High School',
 'Marital_Status': 'Married',
 'Income_Category': '$60K - $80K',
 'Card_Category': 'Blue',
 'Months_on_book': 39,
 'Total_Relationship_Count': 5,
 'Months_Inactive_12_mon': 1,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 12691.0,
 'Total_Revolving_Bal': 777,
 'Avg_Open_To_Buy': 11914.0,
 'Total_Amt_Chng_Q4_Q1': 1.335,
 'Total_Trans_Amt': 1144,
 'Total_Trans_Ct': 42,
 'Total_Ct_Chng_Q4_Q1': 1.625,
 'Avg_Utilization_Ratio': 0.061}

In [246]:

features= get_feature(data)
print(features)

{'Customer_Age': 45, 'Dependent_count': 3, 'Months_on_book': 39, 'Total_Relationship_Count': 5, 'Months_Inactive_12_mon': 1, 'Contacts_Count_12_mon': 3, 'Credit_Limit': 12691.0, 'Total_Revolving_Bal': 777, 'Avg_Open_To_Buy': 11914.0, 'Total_Amt_Chng_Q4_Q1': 1.335, 'Total_Trans_Amt': 1144, 'Total_Trans_Ct': 42, 'Total_Ct_Chng_Q4_Q1': 1.625, 'Avg_Utilization_Ratio': 0.061, 'Gender_n': 1, 'Education_Level_n': 3, 'Marital_Status_n': 1, 'Income_Category_n': 2, 'Card_Category_n': 0}

In [240]:
#feature={'Customer_Age': 58.0, 'Dependent_count': 4.0, 'Months_on_book': 44.0, 'Total_Relationship_Count': 5.0, 'Months_Inactive_12_mon': 1.0, 'Contacts_Count_12_mon': 3.0, 'Credit_Limit': 12010.0, 'Total_Revolving_Bal': 2149.0, 'Avg_Open_To_Buy': 9861.0, 'Total_Amt_Chng_Q4_Q1': 0.801, 'Total_Trans_Amt': 1700.0, 'Total_Trans_Ct': 35.0, 'Total_Ct_Chng_Q4_Q1': 1.5, 'Avg_Utilization_Ratio': 0.179, 'Gender_n': 1.0, 'Education_Level_n': 6.0, 'Marital_Status_n': 1.0, 'Income_Category_n': 2.0, 'Card_Category_n': 0.0}

In [247]:
pred = predict(features)
print(pred)

Existing Customer

In [176]:
model = load(open('models/rf.pkl', 'rb'))

In [205]:
model

RandomForestClassifier(max_depth=14, min_samples_leaf=2, min_samples_split=6,
                       n_estimators=23, random_state=42)

In [206]:
val

[]

In [218]:
type(x_train)

pandas.core.frame.DataFrame

In [211]:
model.predict(x_train)

array(['Existing Customer', 'Existing Customer', 'Existing Customer', ...,
       'Existing Customer', 'Attrited Customer', 'Attrited Customer'],
      dtype=object)

In [213]:
feature

{'Customer_Age': 58.0,
 'Dependent_count': 4.0,
 'Months_on_book': 44.0,
 'Total_Relationship_Count': 5.0,
 'Months_Inactive_12_mon': 1.0,
 'Contacts_Count_12_mon': 3.0,
 'Credit_Limit': 12010.0,
 'Total_Revolving_Bal': 2149.0,
 'Avg_Open_To_Buy': 9861.0,
 'Total_Amt_Chng_Q4_Q1': 0.801,
 'Total_Trans_Amt': 1700.0,
 'Total_Trans_Ct': 35.0,
 'Total_Ct_Chng_Q4_Q1': 1.5,
 'Avg_Utilization_Ratio': 0.179,
 'Gender_n': 1.0,
 'Education_Level_n': 6.0,
 'Marital_Status_n': 1.0,
 'Income_Category_n': 2.0,
 'Card_Category_n': 0.0}

In [227]:
df=pd.DataFrame(feature, index=[0])

In [230]:
model.predict(df)

array(['Existing Customer'], dtype=object)

In [ ]:
9d5c667090134402a4a64b5ed94a3fce

In [254]:
dict(x_train.dtypes)

{'Unnamed: 0': dtype('int64'),
 'Customer_Age': dtype('int64'),
 'Dependent_count': dtype('int64'),
 'Months_on_book': dtype('int64'),
 'Total_Relationship_Count': dtype('int64'),
 'Months_Inactive_12_mon': dtype('int64'),
 'Contacts_Count_12_mon': dtype('int64'),
 'Credit_Limit': dtype('float64'),
 'Total_Revolving_Bal': dtype('int64'),
 'Avg_Open_To_Buy': dtype('float64'),
 'Total_Amt_Chng_Q4_Q1': dtype('float64'),
 'Total_Trans_Amt': dtype('int64'),
 'Total_Trans_Ct': dtype('int64'),
 'Total_Ct_Chng_Q4_Q1': dtype('float64'),
 'Avg_Utilization_Ratio': dtype('float64'),
 'Gender_n': dtype('int64'),
 'Education_Level_n': dtype('int64'),
 'Marital_Status_n': dtype('int64'),
 'Income_Category_n': dtype('int64'),
 'Card_Category_n': dtype('int64')}

In [263]:
list(y_train.value_counts().keys())

['Existing Customer', 'Attrited Customer']

In [1]:
from app import *

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [18]:
data= {
 'Customer_Age': 45,
 'Gender': 'M',
 'Dependent_count': 3,
 'Education_Level': 'High School',
 'Marital_Status': 'Married',
 'Income_Category': '$60K - $80K',
 'Card_Category': 'Blue',
 'Months_on_book': 39,
 'Total_Relationship_Count': 5,
 'Months_Inactive_12_mon': 1,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 12691.0,
 'Total_Revolving_Bal': 777,
 'Avg_Open_To_Buy': 11914.0,
 'Total_Amt_Chng_Q4_Q1': 1.335,
 'Total_Trans_Amt': 1144,
 'Total_Trans_Ct': 42,
 'Total_Ct_Chng_Q4_Q1': 1.625,
 'Avg_Utilization_Ratio': 0.061}

data2={
 'Customer_Age': 55,
 'Gender': 'F',
 'Dependent_count': 3,
 'Education_Level': 'Uneducated',
 'Marital_Status': 'Single',
 'Income_Category': 'Unknown',
 'Card_Category': 'Blue',
 'Months_on_book': 47,
 'Total_Relationship_Count': 4,
 'Months_Inactive_12_mon': 3,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 14657.0,
 'Total_Revolving_Bal': 2517,
 'Avg_Open_To_Buy': 12140.0,
 'Total_Amt_Chng_Q4_Q1': 0.166,
 'Total_Trans_Amt': 6009,
 'Total_Trans_Ct': 53,
 'Total_Ct_Chng_Q4_Q1': 0.514,
 'Avg_Utilization_Ratio': 0.172}
#fet=prepare_features(data)
lambda_handler(data)

{'statusCode': 200, 'Attrition_Flag_predicted': 'Existing Customer'}

NameError: name 'dat1' is not defined

In [13]:
df.Attrition_Flag.value_counts()

Existing Customer    8500
Attrited Customer    1627
Name: Attrition_Flag, dtype: int64

In [16]:
df[df["Attrition_Flag"]=="Attrited Customer"]

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
21,21,708508758,Attrited Customer,62,F,0,Graduate,Married,Less than $40K,Blue,...,3,3,1438.3,0,1438.3,1.047,692,16,0.600,0.000
39,39,708300483,Attrited Customer,66,F,0,Doctorate,Married,Unknown,Blue,...,4,3,7882.0,605,7277.0,1.052,704,16,0.143,0.077
51,51,779471883,Attrited Customer,54,F,1,Graduate,Married,Less than $40K,Blue,...,3,1,1438.3,808,630.3,0.997,705,19,0.900,0.562
54,54,714374133,Attrited Customer,56,M,2,Graduate,Married,$120K +,Blue,...,3,3,15769.0,0,15769.0,1.041,602,15,0.364,0.000
61,61,712030833,Attrited Customer,48,M,2,Graduate,Married,$60K - $80K,Silver,...,4,4,34516.0,0,34516.0,0.763,691,15,0.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10119,10119,716893683,Attrited Customer,55,F,3,Uneducated,Single,Unknown,Blue,...,3,3,14657.0,2517,12140.0,0.166,6009,53,0.514,0.172
10123,10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,...,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,...,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [18]:
dict(df.iloc[10119])

{'Unnamed: 0': 10119,
 'CLIENTNUM': 716893683,
 'Attrition_Flag': 'Attrited Customer',
 'Customer_Age': 55,
 'Gender': 'F',
 'Dependent_count': 3,
 'Education_Level': 'Uneducated',
 'Marital_Status': 'Single',
 'Income_Category': 'Unknown',
 'Card_Category': 'Blue',
 'Months_on_book': 47,
 'Total_Relationship_Count': 4,
 'Months_Inactive_12_mon': 3,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 14657.0,
 'Total_Revolving_Bal': 2517,
 'Avg_Open_To_Buy': 12140.0,
 'Total_Amt_Chng_Q4_Q1': 0.166,
 'Total_Trans_Amt': 6009,
 'Total_Trans_Ct': 53,
 'Total_Ct_Chng_Q4_Q1': 0.514,
 'Avg_Utilization_Ratio': 0.172}

In [19]:
import requests

In [21]:
data2={
 'Customer_Age': 55,
 'Gender': 'F',
 'Dependent_count': 3,
 'Education_Level': 'Uneducated',
 'Marital_Status': 'Single',
 'Income_Category': 'Unknown',
 'Card_Category': 'Blue',
 'Months_on_book': 47,
 'Total_Relationship_Count': 4,
 'Months_Inactive_12_mon': 3,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 14657.0,
 'Total_Revolving_Bal': 2517,
 'Avg_Open_To_Buy': 12140.0,
 'Total_Amt_Chng_Q4_Q1': 0.166,
 'Total_Trans_Amt': 6009,
 'Total_Trans_Ct': 53,
 'Total_Ct_Chng_Q4_Q1': 0.514,
 'Avg_Utilization_Ratio': 0.172}
requests.post('http://127.0.0.1:9696/predict', data=data2)

In [6]:
import requests

data={
 'Customer_Age': 55,
 'Gender': 'F',
 'Dependent_count': 3,
 'Education_Level': 'Uneducated',
 'Marital_Status': 'Single',
 'Income_Category': 'Unknown',
 'Card_Category': 'Blue',
 'Months_on_book': 47,
 'Total_Relationship_Count': 4,
 'Months_Inactive_12_mon': 3,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 14657.0,
 'Total_Revolving_Bal': 2517,
 'Avg_Open_To_Buy': 12140.0,
 'Total_Amt_Chng_Q4_Q1': 0.166,
 'Total_Trans_Amt': 6009,
 'Total_Trans_Ct': 53,
 'Total_Ct_Chng_Q4_Q1': 0.514,
 'Avg_Utilization_Ratio': 0.172
}

url = 'http://localhost:9696/predict'
response = requests.post(url, json=data)
print(response.json())

{'Attrition_Flag_predicted': 'Attrited Customer', 'statusCode': 200}

SyntaxError: invalid syntax (1472818482.py, line 1)

In [3]:
pwd

'/home/ubuntu/MlopsZoomcampCourceProject'